In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Vansh Malani\Documents\GitHub\Uni-Dash_Reborn\Machine_Learning_Algo\labeled_dataset.csv")

In [4]:
df.head()

,from,full_text,label
0,23DCS023 JAMES DHANDHUKIYA <23dcs023@charusat....,Request for Email Data Contribution – Research...,NaN
1,23DCS023 JAMES DHANDHUKIYA <23dcs023@charusat....,Re: Request for Email Data Contribution – Rese...,NaN
2,NPTEL <onlinecourses@nptel.iitm.ac.in>,NPTEL Newsletter: IIT Madras CODE Certificate ...,NaN
3,"""Parth Goel (Classroom)"" <no-reply@classroom.g...","New announcement: ""s, You are requested to…"" N...",NaN
4,Team at Read <support@e.read.ai>,Exclusive Education Pricing Just for You! Read...,NaN